.text-right{
    text-align: right;
}


/* questionList.twig */
.question_box{
    border:1px solid #8AC2FF;
    border-left:300px solid #8AC2FF;
    margin-bottom:40px;
}

.question_box h2{
    padding: 20px;
}

.question_box_inner{
    padding:20px;
}

.create_date{
    text-align:right;
}

/* questionForm.twig */
.side_box{
    border:1px solid #bbbbbb;
    margin-bottom: 30px;
}
.box_label{
    background: #bbbbbb;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold; 
}

.level_value{
    padding:20px;
    font-size: 18px;
    font-weight: bold;
    color: blaok;
}

.count_answer{
    padding:40px;
    font-size:90px;
    font-weight: bold;
    text-align: center;
}


/* confirm.twig */
.answer_button{
    display: inline;
}
.cancel_button{
    display: inline;
}

/* language button */
.Ruby, .Ruby:hover, .Ruby:focus, .Ruby:active, .Ruby.active, .Ruby.disabled, .Ruby[disabled]{
   color: white;
   background: #bd362f; 
   width: 70px;
}
.PHP, .PHP:hover, .PHP:focus, .PHP:active, .PHP.active, .PHP.disabled, .PHP[disabled]{
   color: white;
   background: #0044cc; 
   width: 70px;
}
.Python, .Python:hover, .Python:focus, .Python:active, .Python.active, .Python.disabled, .Python[disabled]{
   color: white;
   background: #f89406; 
   width: 70px;
}

.PT, .PT:hover, .PT:focus, .PT:active, .PT.active, .PT.disabled, .PT[disabled]{
   color: black;
   background: #D3D3D3; 
   width: 70px;
}

.JS, .JS:hover, .JS:focus, .JS:active, .JS.active, .JS.disabled, .JS[disabled]{
   color: white;
   background: #228B22; 
   width: 70px;
}

.SQL, .SQL:hover, .SQL:focus, .SQL:active, .SQL.active, .SQL.disabled, .SQL[disabled]{
   color: white;
   background: #4B0082; 
   width: 70px;
}
