{% extends "base.twig" %}
{% block title %}“ŠeŠ®—¹{% endblock %}
{% block content %}
    <div class="row">
        <form class="form-horizontal" action="/admin/posted" method="post">
            <div class="control-group">“Še‚ªŠ®—¹‚µ‚Ü‚µ‚½</div>
        </form>
    </div>
{% endblock %}
