{% extends "base.twig" %}
{% block title %}問題投稿{% endblock %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#inputCode").cleditor();
        $("#btn").click(function() {
          var editor = $("#inputCode").cleditor()[0];
          editor.updateFrame();
        });
    });
</script>
    <div class="row">
        <form class="form-horizontal" action="/admin/confirm" method="post">
            {% if errors.title %}
            <div class="control-group error">
                <label class="control-label" for="title">問題タイトル</label>
                <div class="controls">
                    <input id="title" name="title" type="text" class="span3" />
                    <span class="help-inline">{{ errors.title }}</span>
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label" for="title">問題タイトル</label>
                <div class="controls">
                    <input id="title" name="title" type="text" class="span3" />
                </div>
            </div>
            {% endif %}
            {% if errors.content %}
            <div class="control-group error">
                <label class="control-label" for="title">本文</label>
                <div class="controls">
                    <textarea id="inputCode" name="content" rows="20" class="input-xxlarge"></textarea>
                    <span class="help-inline">{{ errors.content }}</span>
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label" for="inputCode">本文</label>
                <div class="controls">
                    <textarea id="inputCode" name="content" rows="20" class="input-xxlarge"></textarea>
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    <button id="btn" type="submit" class="btn">確認</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
