{% extends "base.twig" %}
{% block title %}問題投稿{% endblock %}
{% block content %}
    <div class="row">
        <form class="form-horizontal" action="/admin/confirm" method="post">
            <div class="control-group">
                <label class="control-label" for="user_name">問題タイトル</label>
                <div class="controls">
                    <input id="title" name="title" type="text" class="span3" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCode">本文</label>
                <div class="controls">
                    <textarea id="inputCode" name="content" rows="20" class="input-xxlarge"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">確認</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
