{% extends "base.twig" %}
{% block title %}{{mypqge_user.name}}さんのマイページ{% endblock %}
        
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{{mypage_user.name}}さんのマイページ</h1>
        </div>
        <h2>{{mypage_user.name}}さんの投稿した回答一覧</h2>
    </div>
{% endblock %}
