{% extends "base.twig" %}
{% block title %}投稿しました{% endblock %}

{% block content %}
    <div class="row"> 
        {% if errors %}
            {{errors}}
        {% endif %}
        <p>登録できたお</p>
        
        <a href="../answerlist/{{question_num}}">他人の解答一覧</a>
    </div>
{% endblock %}
