{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}

{% block content %}
        <div class="row">
            <div class="span12 row-fluid">
                <form action="/answer" method="POST" class="form-horizontal well">
                    <div class="control-group">
                        <label class="control-label" for="user_name">{{answer.u_id}}:さんの{{answer.q_id}}の回答</label></br></br>
                          <pre class="brush: php;">
{{answer.content}}
                          </pre>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
