{% extends "base.twig" %}
{% block title %}answer.twig{% endblock %}

{% block content %}
<div class="row">
    <ul>
    {% for answer in answers %}
        <li><a href="/answer/{{answer.id}}">{{answer.u_name}}さんの回答</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
